language: android
jdk: oraclejdk8

notifications:
  email: false

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-27.0.1
    - android-27
    - extra-android-support
    - extra-android-m2repository
  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'

before_install:
  - chmod +x gradlew

script: ./gradlew :core:clean :core:assemble :core:test

after_success: ./gradlew :core:jacocoTestReport :core:coveralls
