language: android
jdk: oraclejdk8

notifications:
  email: false

android:
  components:
    - tools
    - build-tools-28.0.3
    - android-28
    - extra-android-support
    - extra-android-m2repository
  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'

before_install:
  - chmod +x gradlew
  - yes | sdkmanager "platforms;android-27"

script: ./gradlew clean assemble test

after_success: ./gradlew jacocoRootReport coveralls
