language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-27.0.1
    - android-27
    - extra-android-support
    - extra-android-m2repository
  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'

script: ./gradlew :core:clean :core:assembleDebug :core:testDebugUnitTest

after_success: ./gradlew :core:jacocoTestReport :core:coveralls
